<div style="margin-top: 30px; display: flex; flex-direction: column">
    <span>Add</span>
    <label>Name: <input type="text" id="name"/></label>
    <label>Phone: <input type="text" id="phone"/></label>
    <button onclick="addContact()">Add</button>
</div>
<div style="margin-top: 30px; display: flex; flex-direction: column">
    <span>Update</span>
    <input type="hidden" id="idUpdate" />
    <label>Name: <input type="text" id="nameUpdate" /></label>
    <label>Phone: <input type="text" id="phoneUpdate" /></label>
    <button onclick="updateContact()">Update</button>
</div>
<div id="contacts-root" style="display: flex; flex-direction: column; margin-top: 50px;">

</div>